<app-navigation></app-navigation>
<app-sidebar></app-sidebar>
<div class="Post">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/pages/components/home-main" style="color: #F48023">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Duyệt bài viết</li>
        </ol>
    </nav>
    <div class="wrap-post">
        <h3 style="text-align: center; margin-bottom: 10px; font-weight: bold">DUYỆT BÀI VIẾT</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Thời gian</th>
                <th>Action</th>
            </tr>
            <tr>
                <td></td>
                <td style="width: 550px"> <a></a>sascascasc</td>
                <td>ascascasc</td>
                <td>dasdasd</td>
                <td>
                    <button style="margin-bottom: 5px" type="button" class="btn-func" data-toggle="modal"
                        data-target="#exampleModal2">Duyệt</button>
                    <button type="button" class="btn-func" data-toggle="modal" data-target="#exampleModal">Xoá</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--Modal XoaBai Duyet-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/deleteDb" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>XOÁ BÀI</b></h5>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <input hidden name="id" id="id">
                    <span>Bạn có muốn xoá bài viết của </span><span id="deleteName"></span><span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Xác Nhận</button>
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal DuyetBai-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/xacNhanDuyetBai" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2"><b>DUYỆT BÀI</b></h5>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <input hidden name="id" id="idDuyet">
                    <span>Xác nhận duyệt bài của </span><span id="nameDuyet"></span><span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Xác Nhận</button>
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>