.navigation {
    width: 100%;
    height: 84px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
}

.wrap-content-nav {
    width: 1400px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

.wrap-icon-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 100%;
}

.wrap-icon-text div h2 {
    color: #F48023;
    margin: 0;
}


.btn-login {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #EAEAEA;
    color: #1682FD;
    margin-left: 10px;
}


.btn-signup {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F48023;
    color: white;
    position: relative;
    display: inline-block;
}

.btn-signup.loading {
    pointer-events: none;
    opacity: 0.6;
}

.loading-text {
    display: none;
}

.btn-signup.loading .loading-text {
    display: inline-block;
}

.btn-signup.loading .original-text {
    display: none;
}


.Sidebar {
    width: 22%;
    height: 100vh;
    border-right: 1px solid #EAEAEA;
    float: left;
    position: fixed;
    background-color: white;
    left: 0;
    top: 84px;
}

.col {
    display: flex;
    flex-direction: column;
}

.col_item {
    width: 100%;
    height: 50px;
    padding: 10px 40px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid white;
}

.col_i {
    width: 30px;
}

.col_item:hover {
    background-color: #F7F7F7;
    cursor: pointer;
    border-left: 4px solid #F48023;
}

.col_item:hover i,
.col_item:hover a {
    color: #F48023;
}

.fa-angle-down {
    transform: rotate(180deg);
}

/* .col_item:hover .fa-angle-down {
    transform: rotate(180deg);
} */
.rotate {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.Post {
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 250);
}

.wrap-post {
    width: 1000px;
    padding: 20px;
    height: auto;
    margin: 84px 100px 100px 500px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wrap_btn-search {
    width: 100%;
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
}

.input_search {
    padding: 20px;
    width: 80%;
}

.input_search:focus {
    outline: none;
}

.btn_search {
    width: 10%;
    padding: 10px;
    color: white;
    background-color: #F48023;
    border-radius: 5px;
}

.fa-magnifying-glass {
    padding: 10px 20px;
    color: #F48023;
}

.main-post {
    width: 960px;
    height: 250px;
    background-color: white;
    border-color: #EAEAEA;
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-post:hover h4 {
    color: #9c6a43 !important;
}

.wrap_main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap_author {
    display: flex;
    align-items: center;
}

.wrap_author img {
    border-radius: 50%;
}

.st_cate {
    color: #808080;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.50px;
    word-wrap: break-word;
    padding: 5px 10px;
    background: #EAEAEA;
    border-radius: 5px;
}

.icon-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.icon-number i {
    margin-right: 5px;
}