<div class="navigation">
    <div class="wrap-content-nav">
        <div class="wrap-icon-text">
            <div>
                <img src="https://firebasestorage.googleapis.com/v0/b/photo-archive-a0523i1.appspot.com/o/imgLanding%2Fz5572534420005_08dcdd6cfb1da3bbd58ccc7998f00f79.jpg?alt=media&token=706f832f-fd7a-4880-95bf-9bc0354c2e7b" alt="" width="25" height="29">
            </div>
            <div>
                <h2><strong>BDĐHNT</strong></h2>
            </div>
        </div>
        <div class="wrap-btn">
            <strong>
                <a href=""><button class="btn-signup"><strong style="font-weight: bold"><i class="fa-solid fa-user-plus"></i> ĐĂNG KÝ</strong></button></a>
            </strong>
            
        </div>
    </div>
</div>