.navigation {
    width: 100%;
    height: 84px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
}

.wrap-content-nav {
    width: 1400px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

.wrap-icon-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 100%;
}

.wrap-icon-text div h2 {
    color: #F48023;
    margin: 0;
}

.wrap-btn button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F48023;
    color: white;
}

.btnPost {
    padding: 10px 20px !important;
    border-radius: 5px !important;
    background-color: #F48023 !important;
    color: white !important;
}