<app-navigation></app-navigation>
<app-sidebar></app-sidebar>

<div class="Post">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/pages/components/home-main" style="color: #F48023">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Bài Viết Đã Thích</li>
        </ol>
    </nav>
    
    <div class="wrap-post">
        <div>
            <a style="cursor: pointer" routerLink="">
                <div class="main-post">

                    <div class="wrap_main-title">
                        <h4 style="color: #F48023;">Angular</h4>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <div class="wrap_author">
                        <div style="padding-right: 20px;">
                            <img width="30" height="30" src="" alt="">
                        </div>
                        <div>
                            <p style="font-size: 14px; color: grey; padding-bottom: 5px;">Được tạo bởi</p>
                            <div class="d-flex align-items-center">
                                <p style="font-size: 18px; font-weight: 500; padding-right: 5px;">
                                    baokxgamail.com
                                </p>
                                <p style="color: grey;">15 trước</p>
                            </div>
                        </div>

                    </div>
                    <div
                        style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 25px; color: grey;">
                        <p style="color: grey; line-height: 25px;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore natus dolore sapiente nulla
                            facilis laudantium quod autem temporibus placeat reiciendis. Animi ea voluptates minima
                            dolorem repellat fugiat excepturi incidunt optio?
                        </p>
                    </div>
                    <div>
                        <div class="wrap-item-post d-flex justify-content-between align-items-center">
                            <div class="">
                                <div>
                                    <p class="st_cate">Cong Nghe</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" style="width: 300px">
                                <div class="icon-number">
                                    <i class="fa-regular fa-heart"></i>
                                    <p>12</p>
                                </div>
                                <div class="icon-number">
                                    <i class="fa-regular fa-eye"></i>
                                    <p>12</p>
                                </div>
                                <div class="icon-number">
                                    <i class="fa-regular fa-message"></i>
                                    <p>12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </a>

            <a style="cursor: pointer" routerLink="">
                <div class="main-post">

                    <div class="wrap_main-title">
                        <h4 style="color: #F48023;">Angular</h4>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <div class="wrap_author">
                        <div style="padding-right: 20px;">
                            <img width="30" height="30" src="" alt="">
                        </div>
                        <div>
                            <p style="font-size: 14px; color: grey; padding-bottom: 5px;">Được tạo bởi</p>
                            <div class="d-flex align-items-center">
                                <p style="font-size: 18px; font-weight: 500; padding-right: 5px;">
                                    baokxgamail.com
                                </p>
                                <p style="color: grey;">15 trước</p>
                            </div>
                        </div>

                    </div>
                    <div
                        style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 25px; color: grey;">
                        <p style="color: grey; line-height: 25px;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore natus dolore sapiente nulla
                            facilis laudantium quod autem temporibus placeat reiciendis. Animi ea voluptates minima
                            dolorem repellat fugiat excepturi incidunt optio?
                        </p>
                    </div>
                    <div>
                        <div class="wrap-item-post d-flex justify-content-between align-items-center">
                            <div class="">
                                <div>
                                    <p class="st_cate">Cong Nghe</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" style="width: 300px">
                                <div class="icon-number">
                                    <i class="fa-regular fa-heart"></i>
                                    <p>12</p>
                                </div>
                                <div class="icon-number">
                                    <i class="fa-regular fa-eye"></i>
                                    <p>12</p>
                                </div>
                                <div class="icon-number">
                                    <i class="fa-regular fa-message"></i>
                                    <p>12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>

    </div>
</div>