<div class="Sidebar">
    <div class="col">
        <div class="col_item">
            <h4><strong>MENU</strong></h4>
        </div>

        <a routerLink="/pages/components/home-main">
            <div class="col_item">
                <div class="d-flex">
                    <i class="fa-solid fa-house col_i"></i>
                    <p>Trang Chủ</p>
                </div>
                <div>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </a>


        <div class="col_item" (click)="toggleDropdown()">
            <div>
                <i class="fa-solid fa-tag col_i"></i>
                <a routerLink="">Chủ Đề</a>
            </div>
            <div>
                <i class="fa-solid fa-angle-down" [ngClass]="{'rotate': isDropdownVisible}"></i>
            </div>
        </div>
        <div class="dropdown-content" *ngIf="!isDropdownVisible">
            <div class="col_item" *ngFor="let item of cateList">
                <a routerLink="">
                    {{item.name}}
                </a>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="col_item" (click)="toggleDropdown2()">
            <div>
                <i class="fa-solid fa-file-signature col_i"></i>
                <a>Chức Năng Cá Nhân</a>
            </div>
            <div>
                <i class="fa-solid fa-angle-down" [ngClass]="{'rotate': isDropdownVisible2}"></i>
            </div>
        </div>
        <div class="dropdown-content" *ngIf="!isDropdownVisible2">
            <div class="col_item">
                <a routerLink="/pages/components/blog-liked">Bài Viết Đã Thích</a>
            </div>
            <div class="col_item">
                <a routerLink="/pages/components/blog-bookmarked">Bài Viết Đã Đánh Dấu</a>
            </div>
        </div>

        <div class="col_item" (click)="toggleDropdown3()">
            <div>
                <i class="fa-solid fa-user-tie col_i"></i>
                <a>Chức Năng Admin</a>
            </div>
            <div>
                <i class="fa-solid fa-angle-down" [ngClass]="{'rotate': isDropdownVisible3}"></i>
            </div>
        </div>
        <div class="dropdown-content" *ngIf="!isDropdownVisible3">
            <div class="col_item">
                <a routerLink="/pages/components/user-list">Danh Sách Người Dùng</a>
            </div>
            <div class="col_item">
                <a routerLink="/pages/components/blog-approve">Quản Lý Bài Viết </a>
            </div>
            <div class="col_item">
                <a routerLink="/pages/components/manage-categories">Quản Lý Chủ Đề </a>
            </div>
        </div>
    </div>
</div>