.Sidebar {
    width: 22%;
    height: 100vh;
    border-right: 1px solid #EAEAEA;
    float: left;
    position: fixed;
    background-color: white;
    left: 0;
    top: 84px;
}

.col {
    display: flex;
    flex-direction: column;
}

.col_item {
    width: 100%;
    height: 50px;
    padding: 10px 40px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid white;
}

.col_i {
    width: 30px;
}

.col_item:hover {
    background-color: #F7F7F7;
    cursor: pointer;
    border-left: 4px solid #F48023;
}

.col_item:hover i,
.col_item:hover a {
    color: #F48023;
}

.fa-angle-down {
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}